/* Configurações globais */
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

#wrapper e{
  color: #005961;
  font-size: 20px;
}

/* Container dos botões */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container a {
  width: 260px;
  height: 70px;
  font-size: 30px;
  margin: 30px;
  padding: 0; /* Remova o padding para evitar deslocamento do texto */
  background: linear-gradient(135deg, #01A2B2, #0294a1);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 14px 8px;
  box-shadow: 0 10px 15px rgba(96, 185, 219, 0.7);
  text-decoration: none;
}

.button-container a:hover {
  background: linear-gradient(135deg, #0096a3, #0096a3);
  box-shadow: 0 10px 15px rgba(96, 185, 219, 0.7);
}

/* Container do quiz */
.quiz-container {
  width: 100%;
  max-width: 1100px;
  height: 100%;
  max-height: 1100px;
  margin: 35px auto;
  padding: 60px;
  box-sizing: border-box;
  border-radius: 14px;
  background-color: #F5F5F5; 
  border: #cccccc5b 3px solid;
}

#timer {
  font-size: 25px;
  margin-bottom: 30px;
  text-align: center; 
  font-weight: bold;
}

.quiz-container h1 {
  font-size: 45px;
  margin-bottom: 30px;
  text-align: center; 
}

#question {
  font-size: 30px;
  margin-bottom: 30px;
  text-align: center; 
}

#options {
  list-style: none;
  padding: 0;
}

#options li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 28px;
}

button {
  padding: 14px 28px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

a {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para o botão de envio */
#submit-btn {
  display: flex;
  font-size: 24px;
  padding: 18px 30px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0 4px 2px rgba(29, 130, 76, 0.7);
  background-image: linear-gradient(to top, #2d922b, #32953f);
  margin-left: auto; 
  margin-right: 0;
}

#submit-btn:hover {
  background-image: linear-gradient(to top, #2a8528, #32953f);
  box-shadow: 0 5px 3px rgba(68, 132, 98, 0.7);
}

/* Estilo botão de tentar novamente */
#retry-btn {
  font-size: 21px;
  background-color: #ff0000;
  padding: 18px 30px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  margin-top: 220px;
  margin-bottom: 55px;
  animation: pulse 1.8s infinite;
}

#retry-btn:hover {
  background-color: #da190b;
}

/* animação de pulsar */
@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

/* animação ao elemento */
.pulsing-element {
  display: inline-block;
  animation: pulse 2s infinite both;
}

/* container do conteúdo */
.content {
  padding-bottom: 80px; 
}

.gg-check-o {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 28px;
  height: 28px;
  border: 3px solid;
  border-radius: 100px;
  margin-left: 6px;
}

.gg-check-o::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  left: 3px;
  top: -1px;
  width: 9px;
  height: 14px;
  border-color: currentColor;
  border-width: 0 3px 3px 0;
  border-style: solid;
  transform-origin: bottom left;
  transform: rotate(45deg);
}

.gg-log-out {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 10px;
  height: 20px;
  border: 3px solid;
  transform: scale(var(--ggs,1));
  border-right: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-left: -10px;
  color: black;
}

.gg-log-out::after,
.gg-log-out::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
}

.gg-log-out::after {
  border-top: 3px solid;
  border-left: 3px solid;
  transform: rotate(-45deg);
  width: 12px;
  height: 12px;
  left: 4px;
  bottom: 2px;
}

.gg-log-out::before {
  border-radius: 3px;
  width: 14px;
  height: 4px;
  background: currentColor;
  left: 5px;
  bottom: 5px;
}

.correct {
  background-color: rgba(97, 215, 97, 0.9);
  transition: background-color 0.5s ease;
}

.incorrect {
  background-color: rgba(203, 84, 84, 0.9);
  transition: background-color 0.5s ease;
}

.custom-checkbox input {
  display: none;
}

.custom-checkbox input + label:before {
  content: '';
  width: 22px;
  height: 22px;
  border-radius: 4px;
  background-color: white;
  border: 2px solid gray;
  display: inline-block;
  vertical-align: middle;
  margin-right: 12px;
  margin-bottom: 4px;
}

.link-kluster {
  position: fixed;
  bottom: 40px; 
  right: 40px;
  width: 9%;
  height: auto;
  cursor: pointer;
}

.link-kluster img {
  width: 110%;
  height: auto;
  display: block;
  position: relative;
}

.link-kluster::after {
  content: "Faça seu cadastro e fique por dentro de tudo!";
  width: 104%;
  white-space: normal;
  position: absolute;
  bottom: 90%;
  right: 50%;
  transform: translateX(50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  pointer-events: none;
}

.link-kluster:hover::after {
  opacity: 1;
  visibility: visible;
}

.link-kluster:hover img {
  filter: brightness(0.8);
}

@media (max-width: 768px) {
  .button-container {
    flex-direction: column;
    align-items: center;
  }

  .button-container button {
    width: 90%;
    font-size: 24px;
    margin: 15px 0;
    padding: 15px 20px;
  }

  .quiz-container {
    padding: 20px;
    font-size: 24px;
    text-align: left; 
  }

  #timer {
    font-size: 24px;
  }

  .quiz-container h1 {
    font-size: 32px;
  }

  #question {
    font-size: 22px;
  }

  #submit-btn, #retry-btn {
    width: 100%;
    font-size: 20px;
    padding: 15px;
  }

  .logout-icon {
    width: 80px;
    height: 60px;
  }

  .link-kluster {
    display: none;
  }
}

@media (max-width: 480px) {
  .button-container button {
    font-size: 20px;
    padding: 10px 15px;
  }

  .quiz-container {
    padding: 15px;
    font-size: 20px;
    text-align: left;
  }

  #timer {
    font-size: 20px;
  }

  .quiz-container h1 {
    font-size: 28px;
  }

  #question {
    font-size: 18px;
  }

  #submit-btn, #retry-btn {
    font-size: 18px;
    padding: 10px;
  }

  .logout-icon {
    width: 60px;
    height: 45px;
  }
}

#score-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

#score-container h2, p {
  text-align: center;
}

#score-container h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

#score-container p {
  font-size: 30px;
  margin-bottom: 20px;
}